<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>
  </head>
  <body>
    <!--call the partial view navigation  -->
    <%= erb(:'partials/navigation', :layout => false) %>
    <!--add in the requested page using the yield  -->
    <%= yield  %>
  </body>
</html>
